* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

#inputNick {
    padding: 8px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000;
    border: 1px solid #000;
    text-align: left;
}

#inputNick:focus {
    outline: none;
}

#inputTag {
    padding: 8px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000;
    border: 1px solid #000;
    max-width: 80px;
    text-align: left;
}

#inputTag:focus {
    outline: none;
}


#btnBuscar {
    border: none;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-color: rgb(42, 187, 255);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #000;
}

#btnLimpar {
    border: none;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-color: rgb(254, 73, 73);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #000;
}