* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

#btnBuscar {
    border: none;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-color: rgb(42, 187, 255);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #000;
}